    <%= render :template => 'widgets/header'  %>

    <div id="Content_parent">
        <table id="Content_parent_table">
          <tr>
            <td id="SidebarL"></td>
            <td id="Content"  class="">
              <h2 class="grdient_head head">Android</h2>
              <div class="body_content gradient_content">
                <div style="margin: 0 auto; text-align: center;">
                <img class="image_adaptive" src="/assets/menu/how_to_use_android/1.png">
                <img class="image_adaptive" src="/assets/menu/how_to_use_android/2.png">
                <img class="image_adaptive" src="/assets/menu/how_to_use_android/3.png">
                <img class="image_adaptive" src="/assets/menu/how_to_use_android/4.png">
                <img class="image_adaptive" src="/assets/menu/how_to_use_android/5.png">
                </div>
              </div>
            </td>
            <td id="SidebarR"></td>
          </tr>
        </table>
    </div>

    <%= render :template => 'widgets/footer'  %>
