    <%= render :template => 'widgets/header'  %>

    <div id="Content_parent">
        <table id="Content_parent_table">
          <tr>
            <td id="SidebarL"></td>
            <td id="Content"  class="">
              <div>
                <div class="content-wrapper">
                  <h2 class="grdient_head head">Про автора</h2>
                  <div class="body_content gradient_content">
                    <p class="text"><img class="image" src="/assets/menu/bachelor.png">Кловак Іван Володимирович. На момент написання дипломного проекту, студент 5 курсу ЧНУ імені Богдана Хмельницкького.</p>
                    <p class="text">До інтересів належать такі мови програмування та сфери діяльності як C,C++,C#,Java, Ruby, NodeJS, Flash та 3D Gaming.</p>
                  </div>
                </div>
              </div>
            </td>
            <td id="SidebarR"></td>
          </tr>
        </table>
    </div>

    <%= render :template => 'widgets/footer'  %>
