    <%= render :template => 'widgets/header'  %>

    <div id="Content_parent">
        <table id="Content_parent_table">
          <tr>
            <td id="SidebarL"></td>
            <td id="Content"  class="">
              <div>
                <div class="content-wrapper">
                  <h2 class="grdient_head head">Про автора</h2>
                  <div class="body_content gradient_content">
                    <p class="text"><img class="image" src="/assets/menu/data-security.jpg">Хмарне сховище "Sky Folder" працює з вбудованим алгоритмом шифруванння файлів.</p>
                    <p class="text">Починаючи з 70-х років агентство національної безпеки США почало проводити конкурс на криптографічний алгоритм шифрування даних, що мав би відповідати вимогам щодо високої надійності. Перші спроби завершились невдачею, а в результаті третього конкурсу був прийнятий криптографічний алгоритм шифрування DES, який невдовзі став першим міжнародним криптографічним стандартом.
                      DES (Data Encryption Standard) — симетричний блочний алгоритм шифрування, розроблений фірмою ІВМ і затверджений у США в 1977 році як офіційний стандарт (FIPS 46-3). DES має блоки по 64 біта і 16-циклічну структуру мережі Фейстеля, для шифрування використовується ключ довжиною 56 біт. Алгоритм використовує комбінацію нелінійних (S-блоки) і лінійних (перестановки E, IP, IP-1) перетворень. Алгоритм DES у своєму складі містить засекречені елементи, що з самого початку його використання породило велику кількість побоювань, оскільки вони могли давати можливість Національному Агентству Безпеки США неправомірного контролю.</p>
                    <p class="text">Як вже було сказано вище, DES – блочний алгоритм шифрування, вхідними даними для коду є блок розміром n біт і k-бітний ключ. На виході, після застосування шифруючого перетворення, отримаємо n-бітний блок, при чому навіть незначна зміна вхідних даних призводить до істотних змін зашифрованого блоку. Блочні алгоритми шифрування реалізуються методом багаторазового застосування до блоків вхідних даних деяких базових перетворень.

                      3-DES є простим методом усунення недоліків DES – недостатньої криптостійкості. По суті дана модифікація шифрування є послідовним трьохциклічним DES з використанням 112- або 168-бітного ключа. Швидкість роботи даного алгоритму шифрування в три рази нижче ніж у DES, але криптостійкість набагато краща, час, необхідний для криптоаналізу 3-DES теоретично може в мільярд разів перевищити час злому попередника.
                    </p>
                  </div>
                </div>
              </div>
            </td>
            <td id="SidebarR"></td>
          </tr>
        </table>
    </div>

    <%= render :template => 'widgets/footer'  %>
