    <%= render :template => 'widgets/header'  %>

    <div id="Content_parent">
        <table id="Content_parent_table">
          <tr>
            <td id="SidebarL"></td>
            <td id="Content"  class="">
              <div id="how_to_use_tabs" style="height: auto; font-size: 12px; margin: 0; ">
	            <ul>
		            <li><a href="#web">WEB</a></li>
		            <li><a href="#android">ADNROID</a></li>
	            </ul>
	            <div id="web">
                  <div>
                    <div class="content-wrapper">
                      <h2 class="grdient_head head">Використані технології</h2>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/ruby_logo.jpg"></p>
                        <p class="text">Ruby - це мова програмування. Її творець, Юкіхіро Мацумото, змішана з частин його улюблених мов (Perl, Smalltalk, Eiffel, Ada і Lisp), щоб сформувати нову мову, що вбере в себе функціональне програмування і імперативне програмування. Він часто говорив, що він "намагається зробити Рубі природньою, не простою", таким чином, що відображає мову людини та буде зрозуміла на інтуітивному рівні.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/logo-rails.png"></p>
                        <p class="text">Rails - це фреймворк з відкритим вихідним кодом для веб-додатків на мові програмування Ruby. Rails це прорив в зниженні бар'єрів входу в програмування. Потужний веб-додаток, які дозволяє створювати веб додатки не за декілька неділь або місяців, а всього лише за декілька днів.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/logo-jquery.png"></p>
                        <p class="text">JQuery - це швидкий і багатофункціональна JavaScript бібліотека, яка спрощує переміщення HTML елементів документу, обробку подій, анімацію і Ajax взаємодії для швидкої веб-розробки. JQuery призначений, щоб замінити собою простий JavaScript, на якому виконуються клієнтські скрипти.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/ajax.jpg"></p>
                        <p class="text">Ajax - означає технологію, розроблену на javascript, що дозволяє здійснювати обмін даними між браузером і сервером. Подорожуючи в інтернеті, Ви вже, напевно, стикалися із тим як на деяких сайтах, частинки сторінок динамічно змінювалися й виводили нову інформацію. При цьому не було ніякого перезавантаження сторінок - у цьому і полягає основна перевага технології Ajax. Здійснюється запит на одержання частини інформації й одержання тільки цієї частини інформації.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/fileupload.png"></p>
                        <p class="text">JQuery FileUpload - плагін, що дозволяє відносно швидко створювати завантажувач файлів, що працює, використовуючи ajax технлогію. Має добре розвинений інтерфейс та є зручним в користуванні.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/carrierwave.png"></p>
                        <p class="text">Carrierwave - джем, написаний на мові Ruby та призначений для спрощення розробки файлового завантажувача. Має вбудований захист від sql ін`єкцій, тому що в своїй роботі використовує rake.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/logo-heroku.png"></p>
                        <p class="text">Heroku - веб платформа для створення та розвернення веб додатків в декілька простих рухів.</p>
                      </div>
                    </div>
                  </div>
	            </div>
	            <div id="android">
                  <div>
                    <div class="content-wrapper">
                      <h2 class="grdient_head head">Використані технлогії</h2>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/logo-java.png"></p>
                        <p class="text">Java - це мова програмування, спочатку розроблена Джеймсом Гослінгом в Sun Microsystems (в даний час дочірня компанія Oracle Corporation) і випущена в 1995 році в якості одного з основних компонентів компанії Sun Microsystems платформа Java. Мова отримує більшу частину його синтаксису з C і C + +, але має більш просту модель об'єкта і менше низькорівневих засобів. Java-програми, як правило, скомпільовані в байт-код (файл класу), який може працювати на будь-який віртуальній машині Java (JVM), незалежно від архітектури комп'ютера. Java є універсальною, об'єктно-орієнтована. За швидкістю роботи поступається лише мовам Сі, що робить її привабливим рішенням при розробці веб орієнтованих проектів. Окірм того, дозволяє писати Android додатки.</p>
                      </div>
                      <div class="body_content gradient_content">
                        <p class="text"><img class="image" src="/assets/menu/tech/logo-android.png"></p>
                        <p class="text">Adnroid - являє собою програмний стек для мобільних пристроїв, який включає операційну систему, сполучене ПО і ключові програми. Мобільна операційна система Android заснована на ядрі Лінукс. Google та інші члени Open Handset Alliance, співпрацювали при розробці Android і його випуску на ринок мобільних платформ. Android Open Project (AOSP) поставлена ​​задача підтримки та подальшого розвитку Android. Система Android на даний момент найпопулярніша мобільшна операційна система.</p>
                      </div>
                    </div>
                  </div>
	            </div>
            </div>
            </td>
            <td id="SidebarR"></td>
          </tr>
        </table>
    </div>

    <%= render :template => 'widgets/footer'  %>
