    <%= render :template => 'widgets/header'  %>

    <div id="Content_parent">
        <table id="Content_parent_table">
          <tr>
            <td id="SidebarL"></td>
            <td id="Content"  class="">
              <h2 class="grdient_head head">Web-довідник</h2>
              <div class="body_content gradient_content">
                <p class="text">Верхня панель інтерфейсу являється стартовою на початку роботи з ресурсом. Звідси відбувається вхід або реєстрація в хмарному сховищі.
                  Якщо користувач вперше заходить на даний ресурс, то йому потрібно, по-перше, зареєструватися для початку роботи. Реєстрація відбувається після натиснення на посилання «Зареєструватися». Після натиснення відбувається перенаправлення на сторінку реєстрації нового користувача ресурсу. Для вдалого створеня нового аканту, користувачеві потрібно ввести свій логін, пароль, який потрібно підтвердити для того, аби уникнути випадкового неправильного введення, та емейл-адресу власної поштової скриньки.
                </p>
                <center><img class="central_image" src="/assets/menu/how_to_use_web/1.png"></center>
                <p class="text">Середня панель інтерфейсу являє собою ядро інтерфейсу веб-клієнту, через яке відбувається робота з файлами, а саме завантаження на сервер та завантаження на користувацький комп’ютерний пристрій. В основі управління лежать чотири основні клавіші – клавіша додавання файлу до списку завантаження на сервер, клавіша початку завантаження файлів на сервер, клавіша відміни виконуваних в певний момент часу дій та клавіша видалення файлів з серверу, що дозволяє видаляти як всі файли зразу, так і файли, обрані користувачем. Статус роботи хмарного сховища та список користувацьких файлів показується нижче, в таблиці, яка відображає ім’я файлу, розмір та клавішу швидкого видалення файлу. </p>
                <center><img class="central_image" src="/assets/menu/how_to_use_web/2.png"></center>
                <p class="text">Окрім того, якщо користувач бажає увімкнути шифрування файлів, то це здійснюється за допомогою управляючого елементу «Увімкнути шифрування», який розташований над таблицей показу даних. Після увімнення модулю шифрування зявляється спеціальний надпис, який сигналізує про увімкнення та нагадує про вимкненн, якщо користувачеві непотрібно шифрувати файли, які він завантажує на сервер в певний момент.</p>
                <center><img class="central_image" src="/assets/menu/how_to_use_web/3.png"></center>
              </div>
            </td>
            <td id="SidebarR"></td>
          </tr>
        </table>
    </div>

    <%= render :template => 'widgets/footer'  %>
